.intro{
    flex-wrap: wrap;
}

.intro-title, .intro-img{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.intro-title{
    padding-top: 10%;
    padding-left: 5%;
}

.intro-img{
    padding-top: 4%;
    padding-right: 5%;
}

.intro-title h1 {
    font-size: 6.2rem;
}

.intro-title h2{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.intro-img{
    align-items: flex-end;
}

.intro-img img{
    height: 85%;
}

.daydream-reasons{
    /* background-color: brown; */
}

.daydream-reasons h1{
    font-size: 4.3rem;
    text-align: center;
    margin-bottom: 7%;
}

.reason{
    text-align: center;
    width: 28%;
    box-sizing: border-box;
    justify-content: space-around;
}

.reasons .reason:nth-child(2){
    margin-left: 3%;
    margin-right: 3%;
}

.reason img{
    width: 100px;
}

.occasions-box, .reviews{
    width: 100%;
}

.occassions-box{
    height: 60%;
}

.occasion{
    width: 50%;
    height: 80%;
    background-color: #F7F3FF;
    border-radius: 29px;
    overflow: hidden;
    filter: drop-shadow(0 3px 10px #dccdf8d5);
}

.occasion-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.occasion-img .imagesss{
    width: 100%;
    height: 100%;
}

.occasion-texts{
    height: 100%;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;
}

.occasion-texts h1 {
    font-size: 2rem;
    letter-spacing: 5px;
}

.occasion-texts p {
    font-size: calc(1rem);
    margin-top: 2%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.occasion-texts a{
    display: inline-block;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 2% 5% 2% 5%;
    border-radius: 23px;
    font-size: 19px;
    background-color: #8D74AB;
    color: white;
    text-decoration: none;
    filter: drop-shadow(0 3px 6px#8D74AB);
}

.reviews-container {
    height: 40%;
    box-sizing: border-box;
}
.reviews{
    margin-top: 1%;
    height: 33%;
    width: 90%;
    justify-content: space-around;
}

.reviews-container h1{
    font-size: 4.1rem;
    text-align: center;
}

.review{
    background-color: #FEF3FF;
    width: 30%;
    height: 100%;
    border-radius: 12px;
    filter: drop-shadow(0 3px 6px #faedfc);
    box-sizing: border-box;
    padding: 0.8%;
}

.review-texts{
    box-sizing: border-box;
    margin-left:2%;
    width: 70%;
}

.review-texts p{
    font-size: 1rem;
    letter-spacing: -1px;
    word-wrap: break-word;
    display: inline-block;
    width: 90%;
}

.review-img{
    width: 30%;
    height: 100%;
}

.review-img a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.review-img img{
    height: 100%;
    border-radius: 100%;
    filter: drop-shadow(0px 2px 6px #af71df7c);
}

.florist-text, .florist-img{
    width: 50%;
    box-sizing: border-box;
    padding: 5%;
}

.florist-text h2{
    font-size: 3.4rem;
}

.florist-text p {
    font-size: 1.5rem;
}

.florist-img img{
    width: 65%;
    border-radius: 18px;
    filter: drop-shadow(1.5vw -1.8vw 0 #E2D5F8) drop-shadow(0 0 10px #bd9bf781);
}



