<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daydream</title>
    
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- base style -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    
    <link rel="stylesheet" href="/assets/css/Home/home.css">

    <script defer src="/components/Home/index.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  </head>
  <body>
    <nav-bar> </nav-bar>
    <header class="intro flex">
      <section class="intro-title flex column center-align">
        <div>
          <h1>Daydream</h1>
          <h2>Make one of your dream last forever</h2>
        </div>
      </section>
      <section class="intro-img flex column">
        <img src="/assets/images/intro-img.png" alt="" />
      </section>
    </header>

    <main>
      <article class="daydream-reasons flex column center-align center-justify">
        <h1>Why Choose Daydream?</h1>
        <section class="reasons flex center-justify">
          <div class="reason">
            <img src="../assets/svg/flower.svg" alt="">
            <h2>Forever Beautiful</h2>
            <p>Sintetics flower that can't get old or wilted  and 
              always looks beautifuly amazing </p>
          </div>
          <div class="reason">
            <img src="../assets/svg/coin.svg" alt="">
            <h2>Ready In No Time</h2>
            <p>Need it immediately? Don't worry the flowers will finished 
              fastly and deliver it to your hand safely</p>
          </div>
          <div class="reason">
            <img src="../assets/svg/vespa.svg" alt="">
            <h2>Friendly Price</h2>
            <p>Cheap prices that are suitable for all people, get the 
              flowers without having to cry over your finances</p>
          </div>
        </section>
      </article>

      
      <article>
       <!-- <occasions-box></occasions-box> -->
       <section class="occassions-box  flex column center-align center-justify">
         <div class="occasion flex">
           <div class="occasion-img">
             <img src="../assets/images/3.jpg" class="imagesss" alt="">
           </div>
           <div class="occasion-texts flex column center-align center-justify">
               <h1>Wedding</h1>
               <p>Give the best moment for your wedding with our 
                 beautiful flowers we guarantee the atmosphere 
                 of your marriage with  your bride
                 will be a very beautiful </p>
                 <a href="#">View Collections</a>
           </div>
         </div>
       </section>
      <section class="reviews-container flex column center-align center-justify">
        <h1>Our Reviews</h1>
        <div class="reviews flex">
          <div class="review flex"> 
            <div class="review-texts">
              <h2>Albert Einstein</h2>
              <p>"The Most Amazing flower I have ever seen. 
                It just felt like I will comeback alive again"</p>
            </div>
            <div class="review-img">
              <a href="" class="flex center-justify center-align"><img src="../assets/images/11.jpg" alt=""></a>
            </div>
          </div>
          <div class="review flex"> 
            <div class="review-texts">
              <h2>Albert Einstein</h2>
              <p>"The Most Amazing flower I have ever seen. 
                It just felt like I will comeback alive again"</p>
            </div>
            <div class="review-img">
              <a href="" class="flex center-justify center-align"><img src="../assets/images/11.jpg" alt=""></a>
            </div>
          </div>
          <div class="review flex"> 
            <div class="review-texts">
              <h2>Albert Einstein</h2>
              <p>"The Most Amazing flower I have ever seen. 
                It just felt like I will comeback alive again"</p>
            </div>
            <div class="review-img">
              <a href="" class="flex center-justify center-align"><img src="../assets/images/11.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </section>
      <!-- section reviews nanti jadi component -->
      </article>
      
      
      <article class="flex">
          <section class="florist-text flex column center-justify">
            <h2>Meet Our Florist</h2>
            <p>"Hello, I'm Jyoti. Here in Daydream I'll create the most   
              beautiful and elegant flowers. Trust me, I'm a "ninja" in 
              this particular job "</p>
          </section>
          <section class="florist-img flex column center-justify center-align">
            <img src="../assets/images/kajo.png" alt="">
            <div class="shadow-circle"></div>
          </section>
      </article>



      <article>
        <h1>Customize It By Yourself</h1>
        <div>
          <img class="customize-img" src="" alt="">
          <div class="customize-text">
            <h1>Head Hole with Purple Flower In It</h1>
            <h2>Estetic Design pot that suits for funerals</h2>
            <span></span>Flowers Design by Morii Shikaa<span></span>
          </div>
        </div>
      </article>
      <article>
        <section class="shops">
          <h1>We Available At</h1>
          <img src="" alt="">
          <img src="" alt="">
        </section>
        <section class="qna">
          <h1>Frequently Asked Questions</h1>
          <div> <h2> </h2><a href="#">+</a></div>
          <!-- ini nanti component -->
        </section>
      </article>
    </main>



    <footer id="#contact">
      <section class="contact">
          <h1></h1>
          <div class="icons">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
          </div>
      </section>
      <section class="copyright">
        <h3>Daydream ©2020 All Right Reserved</h3>
      </section>
    </footer>
  </body>
</html>
